@keyframes slide-up-opacity {
    0% {
        transform: translateY(10%);
        opacity: 0;
        /* // width: 100%; */
    }

    100% {
        /* // width: 100%; */
        transform: translateY(0);
        opacity: 1;
    }
}

.slide_up {
    /* -webkit-animation: slide-up-opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1) var(--Id)ms backwards; */
    -moz-animation: slide-up-opacity .8s cubic-bezier(0.4, 0, 0.2, 1) backwards;
    animation: slide-up-opacity .8s cubic-bezier(0.4, 0, 0.2, 1) backwards;
    animation-delay: calc(var(--Id) * 200ms);
}