@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?iapbvj');
  src: url('fonts/icomoon.eot?iapbvj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iapbvj') format('truetype'),
    url('fonts/icomoon.woff?iapbvj') format('woff'),
    url('fonts/icomoon.svg?iapbvj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e90c";
}

.icon-next:before {
  content: "\e90d";
}

.icon-play:before {
  content: "\e90e";

}

.icon-playing:before {
  content: "\e90f";
}

.icon-Crown:before {
  content: "\e900";
}

.icon-Dashboard:before {
  content: "\e901";
}

.icon-Graph:before {
  content: "\e902";
}

.icon-kudibar-logo:before {
  content: "\e910";
}

.icon-Livestream-Event:before {
  content: "\e903";
}

.icon-logout:before {
  content: "\e911";
}

.icon-notification:before {
  content: "\e904";
}

.icon-Raffle-Tickets:before {
  content: "\e905";
}

.icon-Rewards:before {
  content: "\e906";
}

.icon-Settings:before {
  content: "\e907";
}

.icon-sidebar-wallet:before {
  content: "\e908";
}

.icon-smiley:before {
  content: "\e909";
}

.icon-Transactions:before {
  content: "\e90a";
}

.icon-Wallet:before {
  content: "\e90b";
}