@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hu1apc');
  src:  url('fonts/icomoon.eot?hu1apc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hu1apc') format('truetype'),
    url('fonts/icomoon.woff?hu1apc') format('woff'),
    url('fonts/icomoon.svg?hu1apc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-left:before {
  content: "\e900";
}
.icon-badge:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-cancel-filled:before {
  content: "\e903";
}
.icon-coin-dollar:before {
  content: "\e904";
}
.icon-Crown:before {
  content: "\e905";
}
.icon-Dashboard:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-edit-pen:before {
  content: "\e908";
}
.icon-fb:before {
  content: "\e909";
}
.icon-Graph:before {
  content: "\e90a";
}
.icon-info-circle:before {
  content: "\e90b";
}
.icon-insta:before {
  content: "\e90c";
}
.icon-Kennis-Music-Festival-SVG:before {
  content: "\e90d";
}
.icon-kudibar-logo:before {
  content: "\e90e";
}
.icon-Livestream-Event:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e910";
}
.icon-notification:before {
  content: "\e912";
}
.icon-pause:before {
  content: "\e913";
}
.icon-play:before {
  content: "\e914";
}
.icon-Raffle-Tickets:before {
  content: "\e915";
}
.icon-receipt:before {
  content: "\e916";
}
.icon-Rewards:before {
  content: "\e917";
}
.icon-Settings:before {
  content: "\e918";
}
.icon-sidebar-wallet:before {
  content: "\e919";
}
.icon-smiley:before {
  content: "\e91a";
}
.icon-Transactions:before {
  content: "\e91b";
}
.icon-twt:before {
  content: "\e91c";
}
.icon-Users:before {
  content: "\e91d";
}
.icon-view-password:before {
  content: "\e91e";
}
.icon-Wallet:before {
  content: "\e91f";
}
.icon-yt:before {
  content: "\e920";
}
